@{    ViewBag.Title = "学生信息管理";}<div class="content-wrapper">
    <div class="page-header">
        <h4 class="page-title col-12">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-bank"></i>
            </span>
            学生信息管理
        </h4>
    </div>
    <div>
        <div class="form-inline">
          学生姓名:<input type="text" class="form-control" data-bind="value: StuNameSearch" />性别:<input type="radio" class="form-control" name="sex" value="男" checked="checked" data-bind="checked: sex" />男<input type="radio" class="form-control" name="sex" value="女" data-bind="    checked: sex" />女    <button id="Search" class="btn btn-info" data-bind="click: Search">查询</button>
        </div>
        <div style="margin-top: 1%;">    <button type="button" class="btn btn-info" data-bind="click: StudentAdd">添加</button>    <button type="button" class="btn btn-info" data-bind="click: StudentDelete">删除</button>    <button type="button" class="btn btn-info" data-bind="click: StudentUpLoad">批量导入</button><a href="@Url.Action("StudentExportList", "StudentMent")" class="btn btn-info">
                                 <span>导出数据</span>
                             </a>
        </div>

        <table id="theader" style="width: 100%; margin-top: 1%;" class="table-hover">    <thead>        <tr>            <th><span>                <input type="checkbox" id="allcheck" onclick="demo()" class='gcs-checkbox'>            </span>                全选</th>            <th>序号</th>            <th>学生ID</th>            <th>学生姓名</th>            <th>性别</th>            <th>年龄</th>            <th>操作</th>        </tr>    </thead>    <tbody data-bind="foreach: people">        <tr id="Suttr">            <td>                <input type='checkbox' class='gcs-checkbox' onclick='setAll()' name='choice' data-bind="    value: UsersID">            </td>            <td data-bind="text: UsersID"></td>            <td data-bind="text: UsersWorkID"></td>            <td data-bind="text: UsersName"></td>            <td data-bind="text: UsersSex"></td>            <td data-bind="text: UsersAge"></td>            <td>                <button id="btn_edit" type="button" data-bind="click: $parent.Detail">编辑</button>                @*<button data-bind="click: $parent.removePerson">删除</button>*@</td>        </tr>    </tbody></table>
        <div class="col-md-12 " style="text-align: center;">
            <div data-bind="text: fy">
            </div>
            <input type="text" hidden="hidden" data-bind="value: page" />
            <div>
                <button type="button" style="border: 0; background: none" data-bind="click: BtnFirst">首页</button>
                <button type="button" style="border: 0; background: none" data-bind="click: BtnUp">上一页</button>
                <button type="button" style="border: 0; background: none" data-bind="click: BtnDown">下一页</button>
                <button type="button" style="border: 0; background: none" data-bind="click: BtnLast">尾页</button>
            </div>
        </div>

    </div>
</div><div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">    <div class="modal-dialog" role="document">        <div class="modal-content">            <div class="modal-header">                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                <h4 class="modal-title" id="myModalLabel">操作</h4>            </div>            <div class="modal-body">                <div class="form-group">                    <label for="txt_Name">学生姓名</label>                    <input type="text" name="txt_Name" data-bind="value: UserNameEdit" class="form-control" id="txt_Name" placeholder="学生姓名">                </div>            </div>            <div class="modal-footer">                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>                <button type="button" id="btn_submit" class="btn btn-primary" data-bind="click: Save">保存</button>            </div>        </div>    </div></div><div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">    <div class="modal-dialog" role="document">        <div class="modal-content">            <div class="modal-header">                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                <h4 class="modal-title" id="myModalLabelAdd">操作</h4>            </div>            <div class="modal-body">                <div class="form-group">                    <label for="txt_NameAdd">学生编号</label>                    <input type="text" data-bind="value: UsersWorkIDAdd" class="form-control">                </div>                <div class="form-group">                    <label for="txt_NameAdd">学生姓名</label>                    <input type="text" data-bind="value: UsersNameAdd" class="form-control">                </div>                  <div class="form-group">                    <label for="txt_NameAdd">学生密码</label>                    <input type="text" data-bind="value: PasswordAdd" class="form-control">                </div>                <div class="form-group">                    <label for="txt_NameAdd">学生性别</label>                    <label class="form-control" style="border: none">                        <input type="radio" name="sex" value="男" data-bind="checked: UsersSexAdd" />男<input type="radio" name="sex" value="女" data-bind="    checked: UsersSexAdd" />女</label>                </div>                <div class="form-group">                    <label for="txt_NameAdd">学生年龄</label>                    <input type="text" data-bind="value: UsersAgeAdd" class="form-control">                </div>            </div>            <div class="modal-footer">                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>                <button type="button" id="btn_submitAdd" class="btn btn-primary" data-bind="click: BtnAdd">添加</button>            </div>        </div>    </div></div>        <div class="modal fade" id="myModalUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabelUpload">            <div class="modal-dialog" role="document">                <div class="modal-content" style="background-color: #fff;">                    <div class="modal-header">                        <h4 class="modal-title" id="ModalUploadLabel">上传文件</h4>                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                    </div>                    <div class="modal-body">                        <div class="row" style="margin-bottom: 10px;">                             <div class="col-md-4" style="padding: 0px 10px 0 53px;">下载模板</div>                            <div class="col-md-6 " style="margin-bottom: 10px;">                              <a href="~/Files/导入学生数据模板.xls">模板</a>                            </div>                            <div class="col-md-4" style="padding: 0px 10px 0 53px;">导入文件</div>                            <div class="col-md-6 " style="margin-bottom: 10px;">                                <input name="file" type="file" id="file" onchange="filechange()"/>                            </div>                            <div class="col-md-12" style="margin-bottom: 10px;">                               <table id="DataList" class="table table-hover datatable">                            <thead>                                <tr>                                    <th>学生编号</th>                                    <th>工号</th>                                    <th>姓名</th>                                    <th>性别</th>                                     <th>年龄</th>                                    <th>加入时间</th>                                </tr>                            </thead>                            <tbody data-bind="foreach: PreviewList">                                <tr>                                    <td data-bind="text: UsersID"></td>                                    <td  data-bind="text: UsersWorkID"></td>                                    <td  data-bind="text: UsersName"></td>                                    <td  data-bind="text: UsersSex"></td>                                     <td  data-bind="text: UsersAge"></td>                                    <td  data-bind="text: CreationTime"></td>                                </tr>                            </tbody>                        </table>                                </div>                        </div>                    </div>                    <div class="modal-footer">                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" style="text-shadow: none;">关闭</button>                        <input name="submit" id="submit" type="submit" value="批量导入" class="btn btn-primary btn-sm" data-bind="click: BtnFileUpLoad"/>                    </div>                </div>            </div>        </div><script type="text/javascript">    var resultValue;    var DetailID;    $(function () {
        IndexAjax();        $("#DataList").hide();
    });    var AppViewModel = {
        people: ko.observableArray(""),        PreviewList: ko.observableArray(""),        StuNameSearch: ko.observable(""),        sex: ko.observable(""),        Search: function () {
            IndexAjax();
        },        StudentUpLoad: function () {
            $('#myModalUpload').modal('show');
        },        Detail: function () {
            $('#myModal').modal('show');            DetailID = this.UsersID;            $.get('@Url.Action("StudentInfoEditGet", "StudentMent")', { UsersID: DetailID },              function (data) {
                  console.log(data);                  if (data != null) {
                      AppViewModel.UserNameEdit(data.UsersName);
                  }                  else {
                      alert("发生错误！");                      return false;
                  }
              });
        },        Save: function () {
            $.post('@Url.Action("StudentInfoEditPost", "StudentMent")', { UsersID: DetailID, UsersName: AppViewModel.UserNameEdit },              function (data) {
                  alert(data);                  if (data === "修改成功！") {
                      $('#myModal').modal('hide');                      IndexAjax();
                  }
              });
        },        UserNameEdit: ko.observable(""),      @*  removePerson: function () {            if (confirm("确认删除吗?")) {                $.post('@Url.Action("StudentInfoMentDelete", "StudentMent")', { UsersID: this.UsersID },     function (data) {         alert(data);         IndexAjax();     });          }        },*@        StudentAdd: function () {
            $('#myModalAdd').modal('show');
        },        UsersWorkIDAdd: ko.observable(""),        UsersNameAdd: ko.observable(""),        PasswordAdd:ko.observable(""),        UsersSexAdd: ko.observable(""),        UsersAgeAdd: ko.observable(""),        BtnFileUpLoad: function () {
            var fd = new FormData();            fd.append("file", $('#file')[0].files[0]);            $.ajax({
                url: "@Url.Action("Import", "StudentMent")",//调用控制器中的方法                type: "POST",                data: fd,                datatype: 'json',                processData: false,                contentType: false,                success: function (data) {
                    alert(data);                    if (data === "导入成功！") {
                        $('#myModalUpload').modal('hide');                        AppViewModel.page("1");                        IndexAjax();
                    }
                },                error: function (jqXHR, textStatus, errorThrown) {                    /*弹出jqXHR对象的信息*/                    console.log(jqXHR.responseText, jqXHR.status, jqXHR.readyState, jqXHR.statusText, textStatus, errorThrown);
                }
            });
        },        fy: ko.observable(""),        page: ko.observable("1"),        BtnFirst: function () {
            AppViewModel.page("1");            IndexAjax();
        },        BtnUp: function () {
            AppViewModel.page(resultValue.NowPage <= 1 ? resultValue.NowPage : resultValue.NowPage - 1);            IndexAjax();
        },        BtnDown: function () {
            AppViewModel.page(resultValue.NowPage >= resultValue.AllPage ? resultValue.NowPage : resultValue.NowPage + 1);            IndexAjax();
        },        BtnLast: function () {
            AppViewModel.page(resultValue.AllPage);            IndexAjax();
        },        StudentDelete: function () {
            var arr1 = [];            var a = document.getElementsByName('choice');            for (var i = 0; i < a.length; i++) {
                if (a[i].checked == true) {
                    arr1.push(a[i].value);
                }
            }            if (arr1.length != 0) {
                if (confirm("确定删除吗？")) {
                    $.post(                            '@Url.Action("StudentInfoMentDelete", "StudentMent")',                             {
                                 arrs: arr1.toString(),
                             },                        function (result) {
                            alert(result);                            IndexAjax();                            document.getElementById("allcheck").checked = false;
                        }                    );
              }
          }
        },        BtnAdd: function () {
            $.post('@Url.Action("StudentInfoAdd", "StudentMent")', { UsersWorkID: AppViewModel.UsersWorkIDAdd, UsersName: AppViewModel.UsersNameAdd,Password:AppViewModel.PasswordAdd,UsersSex: AppViewModel.UsersSexAdd, UsersAge: AppViewModel.UsersAgeAdd },               function (data) {
                   alert(data);                   if (data === "用户添加成功！") {
                       $('#myModalAdd').modal('hide');                       IndexAjax();
                   }
               });
        }
    };    ko.applyBindings(AppViewModel);    function IndexAjax() {
        $.ajax({
            url: '@Url.Action("StudentInfoMentList", "StudentMent")',            type: "get",            data: { UsersName: AppViewModel.StuNameSearch, UsersSex: AppViewModel.sex, page: AppViewModel.page },            success: function (data, stutas, xhr) {
                console.table(data);                resultValue = data;                AppViewModel.people(data.UsersList);                if (Number(data.CountPage) != 0) {
                    AppViewModel.fy("当前第：" + data.NowPage + "页  ，总共：" + data.AllPage + "页");                    console.log(Number(data.CountPage));
                }                else {
                    AppViewModel.fy("暂无数据！");                    console.log(Number(data.CountPage));
                }
            },            error: function (jqXHR, textStatus, errorThrown) {                /*弹出jqXHR对象的信息*/                console.log(jqXHR.responseText, jqXHR.status, jqXHR.readyState, jqXHR.statusText, textStatus, errorThrown);
            }
        });
    }    //点击全选，子复选框被选中    function demo() {
        var allcheck = document.getElementById("allcheck");        var choice = document.getElementsByName("choice");        for (var i = 0; i < choice.length; i++) {
            choice[i].checked = allcheck.checked;
        }
    }    //点击子复选框,全选框 选中、取消    function setAll() {
        if (!$(".gcs-checkbox").checked) {
            $("#allcheck").prop("checked", false); // 子复选框某个不选择，全选也被取消        }        var choicelength = $("input[type='checkbox'][class='gcs-checkbox']").length;        var choiceselect = $("input[type='checkbox'][class='gcs-checkbox']:checked").length;        if (choicelength == choiceselect + 1) {
            $("#allcheck").prop("checked", true);   // 子复选框全部部被选择，全选也被选择；1.对于HTML元素我们自己自定义的DOM属性，在处理时，使用attr方法；2.对于HTML元素本身就带有的固有属性，在处理时，使用prop方法。        }
    }    function filechange() {
        var fd = new FormData();        fd.append("file", $('#file')[0].files[0]);        $.ajax({
            url: '@Url.Action("Preview", "StudentMent")',            type: "POST",            data: fd,            datatype: 'json',            processData: false,            contentType: false,            success: function (data) {
                console.table(data);                if (data != "导入失败！") {
                    $("#DataList").show();                    dataarr1 = JSON.parse(data);                    console.table(dataarr1);                    AppViewModel.PreviewList(dataarr1);
                }
            }
        });
    }</script>