@{
    ViewBag.Title = "学期管理";
}


<label>学期名称:<input type="text" data-bind="value: StuNameSearch"/></label>
<label>学期状态:
    <select data-bind="value: SemesterState">
                            <option value="请选择">请选择</option>
                          <option value="当前学期">当前学期</option>
                          <option value="历史学期">历史学期</option>            
                        </select>
</label>
<label>
    <button id="Search" data-bind="click: Search">查询</button></label>
<label> <button id="btn_add" type="button" data-bind="click: SemesterAdd">添加</button></label>
<table id="theader">
    <thead>
        <tr>
            <th>序号</th>
            <th>学期名称</th>
            <th>学期状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: people">
        <tr id="Suttr">
            <td data-bind="text: SemesterID"></td>
            <td data-bind="text: SemesterName"></td>
            <td data-bind="text: SemesterState"></td>
            <td>
                <button id="btn_edit" type="button" data-bind="click: $parent.Detail">编辑</button>
                <button data-bind="click: $parent.removePerson">删除</button></td>

        </tr>
    </tbody>
</table>
<div data-bind="text: fy">
    </div>
    <input type="text" hidden="hidden" data-bind="value: page"/>
    <div>
        <button type="button" style="border: 0; background: none" data-bind="click: BtnFirst">首页</button>
        <button type="button" style="border: 0; background: none" data-bind="click: BtnUp">上一页</button>
        <button type="button" style="border: 0; background: none" data-bind="click: BtnDown">下一页</button>
        <button type="button" style="border: 0; background: none" data-bind="click: BtnLast">尾页</button>
    </div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">操作</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txt_Name">学期名称</label>
                    <input type="text" name="txt_Name" data-bind="value: SemesterNameEdit" class="form-control" id="txt_Name" placeholder="学期名称">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btn_submit" class="btn btn-primary" data-bind="click: Save">保存</button>
            </div>
        </div>
    </div>
</div>

 <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabelAdd">操作</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txt_NameAdd">学期名称</label>
                        <input type="text" data-bind="value: SemesterNameAdd" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txt_NameAdd">学期状态</label>
                        <label class="form-control" style="border: none">
                           <select data-bind="value: SemesterStateAdd">
                           <option value="请选择">请选择</option>
                          <option value="当前学期">当前学期</option>
                          <option value="历史学期">历史学期</option>               
                        </select></label>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btn_submitAdd" class="btn btn-primary" data-bind="click: BtnAdd">添加</button>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    var resultValue;
    var DetailID;
    $(function () {
        IndexAjax();
    });
   
    var AppViewModel={
        people: ko.observableArray(""),
        StuNameSearch: ko.observable(""),
        SemesterState: ko.observable(""),
        Search: function () {
            IndexAjax();
        },
        Detail: function () {     
            $('#myModal').modal('show'); 
            DetailID = this.SemesterID;
            $.get('@Url.Action("SemesterInfoEditGet", "SemesterMent")', { SemesterID: DetailID },
              function (data) {
                  console.log(data);
                  if (data != null) {
                      AppViewModel.SemesterNameEdit(data.SemesterName);
                  }
                  else {
                      alert("发生错误！");
                      return false;
                  }
                  
              });
           },
        Save: function () {
            $.post('@Url.Action("SemesterInfoEditPost", "SemesterMent")', { SemesterID: DetailID, SemesterName: AppViewModel.SemesterNameEdit },
              function (data) {
                  alert(data);
                  if (data === "修改成功！") {
                      $('#myModal').modal('hide');
                      IndexAjax();
                  }
              });
            },
        SemesterNameEdit: ko.observable(""),
        removePerson: function () {
            if (confirm("确认删除吗?")) {
                $.post('@Url.Action("SemesterInfoMentDelete", "SemesterMent")', { SemesterID: this.SemesterID },
             function (data) {
                 alert(data);
                 IndexAjax();
             });
            }
            

        },
        fy: ko.observable(""),
        page: ko.observable("1"),
        BtnFirst: function () {
            AppViewModel.page("1");
            IndexAjax();
        },
        BtnUp: function () {
            AppViewModel.page(resultValue.NowPage <= 1 ? resultValue.NowPage : resultValue.NowPage - 1);
            IndexAjax();
        },
        BtnDown: function () {
            AppViewModel.page(resultValue.NowPage >= resultValue.AllPage ? resultValue.NowPage : resultValue.NowPage + 1);
            IndexAjax();
        },
        BtnLast: function () {
            AppViewModel.page(resultValue.AllPage);
            IndexAjax();
        },
        SemesterAdd: function () {
            $('#myModalAdd').modal('show');
        },
        SemesterNameAdd: ko.observable(""),
        SemesterStateAdd: ko.observable(""),
        BtnAdd: function () {
            $.post('@Url.Action("SemesterInfoAdd", "SemesterMent")', { SemesterName: AppViewModel.SemesterNameAdd, SemesterState: AppViewModel.SemesterStateAdd },
               function (data) {
                   alert(data);
                   if (data === "学期添加成功！") {
                       $('#myModalAdd').modal('hide');
                       IndexAjax();
                   }
               });
         }
    };

    ko.applyBindings(AppViewModel);

    function IndexAjax() {
        $.ajax({
            url: '@Url.Action("SemesterInfoMentList", "SemesterMent")',
            type: "get",
            data: { SemesterName: AppViewModel.StuNameSearch, SemesterState: AppViewModel.SemesterState, page: AppViewModel.page },
            success: function (data, stutas, xhr) {
                console.table(data);
                resultValue = data;
                AppViewModel.people(data.SemesterList);

                if (Number(data.CountPage) != 0) {
                    AppViewModel.fy("当前第：" + data.NowPage + "页  ，总共：" + data.AllPage + "页");
                    console.log(Number(data.CountPage));
                }
                else {
                    AppViewModel.fy("暂无数据！");
                    console.log(Number(data.CountPage));
                }
            },

            error: function (jqXHR, textStatus, errorThrown) {
                /*弹出jqXHR对象的信息*/
                console.log(jqXHR.responseText, jqXHR.status, jqXHR.readyState, jqXHR.statusText, textStatus, errorThrown);
            }
        });
    }
</script>

